html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  min-height: 100%; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  background-color: #efefef;
  text-align: center;
  font-size: 0.8em;
  /*color: #2b2b2b;*/
  /*text-shadow: 4px 4px 0px rgba(0,0,0,0.1);*/ }
  @media (min-width: 992px) {
    .footer {
      font-size: 1em; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .footer {
      font-size: 1em; } }

#questions-title .port-item {
  width: 25%; }
  #questions-title .port-item .fa {
    font-size: 2em; }
  #questions-title .port-item .sectionTitle {
    /*font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;*/
    font: 400 1.5em/1.3 'Pacifico', Helvetica, sans-serif;
    font-size: 1.5em;
    color: #2b2b2b;
    /*text-shadow: 4px 4px 0px rgba(0,0,0,0.1);*/ }
    @media (min-width: 992px) {
      #questions-title .port-item .sectionTitle {
        font-size: 1.7em; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      #questions-title .port-item .sectionTitle {
        font-size: 1.7em; } }

#questions-title .port-item:hover {
  cursor: pointer; }

#questions-div .questions {
  /*font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;*/
  font-family: 'Dekko';
  font-size: 1em;
  /*color: #2b2b2b;*/
  /*text-shadow: 4px 4px 0px rgba(0,0,0,0.1);*/ }
  @media (min-width: 992px) {
    #questions-div .questions {
      font-size: 1.1em; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    #questions-div .questions {
      font-size: 1.1em; } }

#root {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  width: 100%;
  background-color: #fff; }

.graphs {
  font-family: 'Dekko';
  font-size: 1em;
  /*color: #2b2b2b;*/
  /*text-shadow: 4px 4px 0px rgba(0,0,0,0.1);*/ }
  @media (min-width: 992px) {
    .graphs {
      font-size: 1.1em; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .graphs {
      font-size: 1.1em; } }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent; }

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }
